<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <video id="video_container" class='video-js vjs-default-skin' controls preload='auto' width='auto' height='480'>

      </video>
	</div>
  </div>
</div>
<br/>
<br/>
<div class="container-fluid music-mania" ng-app="music_mania">
  <div class='view-container'>
    <div ng-view class='view-frame animate-view'>

    </div>
  </div>
</div>
<script type="text/javascript">
  MM.VideoHandler.onReady(<%= @song.html_safe %>);
</script>
