<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <video id="video_container" class='video-js vjs-default-skin' controls preload='auto' width='auto' height='480'>

      </video>

	  <!-- <video 	id='video_container' class='video-js vjs-default-skin' controls preload='auto' width='auto' height='480' data-setup='{ "techOrder": ["youtube"], "children": { "controlBar": { "children": { "muteToggle": false } } } }'> -->
		<!-- <source src='https://www.youtube.com/watch?v=wLXVDzM8Tnk', type='video/youtube'> -->
		<!--   <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p> -->
	  <!-- </video> -->
	</div>
  </div>
</div>
<br/>
<br/>
<div class="container-fluid" ng-app="music_mania">
  <div class='view-container'>
    <div ng-view class='view-frame animate-view'>

    </div>
  </div>
</div>
<script type="text/javascript">
  MM.VideoHandler.onReady(<%= @playlist_data.html_safe %>);
</script>
